label {
	display: block;
}

label + label {
	margin-top: 1em;
}

body {
	font-family: sans-serif;
}

canvas {
	border: 1px solid black;
}

figure {
	margin: 1em;
}

section {
	margin: 1em;
	padding: 1em;
	background-color: #EEE;
}

figcaption button {
	margin-left: 1em;
}

input[type=number] {
	text-align: right;
}

.columns {
	display: flex;
	flex-direction: row;
}

select[name=commands] {
	counter-reset: commands -1;
}

select[name=commands] option:before {
	content: counter(commands) ". ";
	counter-increment: commands;
}

#pdc-list, #pdc-editor { display: none; }
body.list #pdc-list { display: block; }
body.edit #pdc-editor { display: block; }
