label {
	display: block;
}

label + label {
	margin-top: 1em;
}

body {
	font-family: sans-serif;
}

canvas {
	border: 1px solid black;
}

figure {
	margin: 1em;
}

section {
	margin: 1em;
	padding: 1em;
	background-color: #EEE;
}

figcaption button {
	margin-left: 1em;
}

#pdc-list, #pdc-editor { display: none; }
body.list #pdc-list { display: block; }
body.edit #pdc-editor { display: block; }

